<header class="cont mt-6">
  <h1 class="primary text-center">Ristorante Il Gambero Rosso</h1>

  <div class="row">
    <img
      class="col-lg-4 object-fit-cover mb-4"
      src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />

    <div class="header-text col-lg-8">
      <h3 class="resp-text">Welcome to Ristorante Il Gambero Rosso.</h3>
      <p>
        Experience the true essence of Italian cuisine at Ristorante Il Gambero
        Rosso, where passion and flavor come together. Indulge in a culinary
        journey filled with authentic Italian dishes crafted with the finest
        ingredients and traditional recipes. Our chefs pour their expertise and
        love into every dish, ensuring a dining experience that's nothing short
        of extraordinary.
      </p>
      <p>
        <em>
          Embrace the warmth of Italian hospitality as you savor our carefully
          curated menu, designed to tantalize your taste buds and transport you
          to the heart of Italy.
        </em>
      </p>
      <ul>
        <li>Discover the richness of Italian flavors and heritage.</li>
        <li>Relish the perfect blend of tradition and innovation.</li>
        <li>Experience a cozy ambiance that feels just like home</li>
      </ul>
      <p>
        Join us at Ristorante Il Gambero Rosso and let your senses embark on a
        delightful culinary adventure. Buon Appetito!
      </p>
    </div>
  </div>
</header>
<section class="bg-light py-4">
  <div class="cont">
    <h1 class="primary text-center">Why choose us</h1>
    <p class="text-center">
      At Ristorante Il Gambero Rosso, we prioritize your dining experience.
      Here's why you should choose us:
    </p>
    <div class="row row-cols-lg-3">
      <div>
        <p>01</p>
        <h3 class="resp-text">Exquisite Flavors.</h3>
        <p>
          Indulge in a culinary journey where every dish tells a story of
          Italian heritage and culinary expertise. Our menu is a fusion of
          tradition and innovation, offering a diverse range of flavors to
          tantalize your taste buds.
        </p>
      </div>
      <div>
        <p>02</p>
        <h3 class="resp-text">Impeccable Service.</h3>
        <p>
          Our dedicated staff is committed to providing you with exceptional
          service. From recommending the perfect wine pairing to accommodating
          dietary preferences, we strive to make your visit memorable.
        </p>
      </div>
      <div>
        <p>03</p>
        <h3 class="resp-text">Cozy Ambiance.</h3>
        <p>
          Relax in our inviting ambiance, where rustic charm meets modern
          comfort. Whether you're celebrating a special occasion or enjoying a
          casual dinner, our welcoming environment sets the stage for a
          delightful dining experience.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="cont py-4">
    <h1 class="primary text-center">Check our specials</h1>
    <p class="text-center">
      Explore our chef's specials, crafted with seasonal ingredients and
      creative flair. From homemade pasta dishes to delectable desserts, our
      specials menu offers a unique gastronomic adventure.
    </p>
    <div class="row row-cols-lg-2">
      <div class="col-lg-3 d-flex flex-column">
        <button class="btn btn-primary">View Specials</button>
        <button class="btn text-primary">Explore Menu</button>
        <button class="btn text-primary">Book a Table</button>
        <button class="btn text-primary">Contact Us</button>
        <button class="btn text-primary">Follow Us</button>
      </div>
      <div class="col-lg-6">
        <h3 class="resp-text">Delight in Culinary Excellence</h3>
        <p>
          <em>
            Immerse yourself in a world of flavors and aromas. Our chefs blend
            tradition with creativity, presenting dishes that are not just meals
            but experiences. From the first bite to the last, savor the passion
            we infuse into every creation.
          </em>
        </p>
        <p>
          Indulge in the finest Italian wines, expertly paired with our dishes,
          enhancing the overall sensory delight. At Ristorante Il Gambero Rosso,
          each meal is a celebration, and every guest is a cherished companion
          on our culinary journey.
        </p>
      </div>
      <img
        class="col-lg-3 object-fit-cover"
        src="https://images.unsplash.com/photo-1579684947550-22e945225d9a?auto=format&fit=crop&q=60&w=1600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fGl0YWxpYW4lMjBmb29kfGVufDB8fDB8fHww"
        alt=""
      />
    </div>
  </div>
</section>
